<div class=" bg-body-tertiary py-5">
    <div class="container">
        <h4>Get The Fresh Cart App</h4>
        <p class="text-muted">We Will send ypu a link, open it on your phone to download the app .</p>
        <div class="d-flex">
            <input class="w-75 form-control mx-auto" placeholder="Email..">
            <button class="btn bg-main text-white">Send App Link</button>
        </div>
        
        <div class="d-flex justify-content-between brd my-3">
            <div class="d-flex align-items-center gap-2">
            <span>Payment parteners</span>
            <img src="../../assets/images/Amazon_logo.svg.webp" class="sizeimg">
            <img src="../../assets/images/mastercard_logo.svg__3.png" class="sizeimg">
            <img src="../../assets/images/PayPal-Logo.png" class="sizeimg">
            </div>
            
            <div class="">
            <span>Get deliveries whith freshcart</span>   
            <img src="../../assets/images/app-store-logo.png" class="sizeimg2" >
            <img src="../../assets/images/google-play-logo.png" class="sizeimg2" >
            </div>
        </div>
        
    </div>
</div>
